:root {
  --primary-color: hsl(47, 88%, 63%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  background-color: var(--primary-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-bold {
  font-weight: 800;
}

.card {
  background-color: white;
  margin: 2em;
  padding: 1.5em;
  border-radius: 1em;
  border: 3px solid var(--black);
  box-shadow: 10px 10px var(--black);
  max-width: 300px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 20px 20px 15px var(--black);
}

.card:active {
  cursor: pointer;
  box-shadow: none;
}

.card-image {
  width: 100%;
  border-radius: 1em;
  margin-bottom: 2em;
}

.card-tag {
  background-color: var(--primary-color);
  padding: 0.5em 1em;
  border-radius: 0.3em;
  font-weight: 800;
}

.date {
  color: var(--black);
  margin-top: 1.5em;
}

.body-text {
  color: var(--grey);
  line-height: 150%;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 2em;
}

.author-image {
  width: 2.8em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
